/* Setting the format of the title */
.title {
    text-align: center;
    color: dodgerblue;
}

/* Making the div (containing the files) scrollable */
div .ex1 {
    overflow: scroll;
    width: 550px;
    height: 400px;
    margin: auto;
}
