/* Setting the format of the title */
.title {
    text-align: center;
    color: dodgerblue;
}

/* Making the div (containing the files) scrollable */
div .ex1 {
    overflow: scroll;
    width: 550px;
    height: 400px;
    margin: auto;
}

.inner-block {
    border: 2px solid lightgray;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}