/*Setting the format of the title*/
#desktop_client_name {
    font-family: Georgia;
    text-align: center;
    color: dodgerblue;
}

* {
    box-sizing: border-box;
}

/*Defining height and position of the 
 columns in the desktop client*/
.column {
    float: left;
    padding: 10px;
    height: 600px;
}

/*The left column squeezes around the buttons*/
.left {
    width: fit-content;
}

/*Allowing the middle section to take half of the space*/
.middle {
    width: 50%;
}

/*Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Arranges the buttons in a vertical fashion*/
.btn-group button {
    /*Shows that the buttons are clickable*/
    cursor: pointer;
    /*Arranges the buttons vertically*/
    display: block;
    margin-bottom: 10px;
    padding: 10px 24px;
    width: 150px;
}

/* Add a background color on-hover to indicate response*/
.btn-group button:hover {
    background-color: darkslategrey;
  }

.btn-group button:not(:last-child) {
    /*Prevent double borders*/
    border-bottom: none;
}