<!DOCTYPE html>
<!--This is the starting point of the desktop client development-->
<html>
  <head>
    <meta charset="UTF-8">
    <title>Project Prime</title>
    
    <!--Linking the html file to the css file-->
    <link href="./index.css" type="text/css" rel="stylesheet">
    
    <!--Bootstap CSS file-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <!--This form allows users to upload and delete files in the server-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
            <h1 class="title display-4 my-4">Project Prime Desktop</h1>
            
            <!--Forms a connection to the server through HTTP POST request-->
            <form action="http://10.40.161.219:3003/upload" method="POST" enctype="multipart/form-data">
              <div class="custom-file mb-3 ">
                <label id="fileLabel" for="file" class="custom-file-label">Choose File:</label>
                <input id="file" name="file" type="file" class="custom-file-input" onclick="changeLabel()">
              </div>
              
              <!--Shows which file was selected by the user-->
              <script>
                var textFile = document.getElementById('file');
                
                function changeLabel() {
                  var label = document.getElementById('fileLabel');
                  // The filename and path of the selected file
                  var textFileValue = textFile.value;
                  // Finds the end of the filepath
                  var fileNameStart = textFileValue.lastIndexOf('\\');
                  // Isolating the filename
                  textFileValue = textFileValue.substring(fileNameStart + 1);
                  
                  if (textFileValue !== '') {
                    // Changes the label text into the filename
                    label.innerText = textFileValue; 
                  }
                }
                // Runs 'changeLabel' method after input filename changes 
                textFile.addEventListener('change', changeLabel, false);
              </script>
              
              <!--Inserts files into the database upon button press-->
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </form>
            <hr>
            <!--Showing the files stored in the DB-->
            <form name="serverFiles" action="http://10.40.161.219:3003/files" method="GET">

            </form>
            <!--Mongo files are displayed here -->
            <!-- <% if(files) { %>
              <% files.forEach(function() { %>
                  <div class="card card-body mb-3">
                    <% if(file.isImage) { %>
                      <img src="image/<%= file.filename %>" alt="">
                    <% } else { %>
                      <%= file.filename %>
                    <% } %>
                    <form method="POST" action="/files/<%= file._id %>?_method=DELETE">

                      <!- Removes files from the DB upon button press-->
                      <!-- <button class="btn btn-danger btn-block mt-4">Delete</button>
                    </form>
                  </div>
                <% }) %>
            <% } else { %> 
              <p>No files to show</p> 
            <% } %>  -->
        </div>
      </div>
    </div>

    <!--JS scripts from Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>